button {
  background-color: #3c3c90;
  border: 0;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  padding: 15px 20px;
  text-transform: uppercase;
}

.answer {
  background-color: #BBBBBB;
}

.new-game {
  background-color: green;
}
