.game-container {
  max-width: 300px;
  margin: 0 auto 40px;
  box-shadow: 0 0 10px #eee;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background-color: #FFF;
}

.game-container > * {
  padding: 20px 40px;
  margin: 0;
}

.game-container h2 {
  border-bottom: 1px solid #e9e9e9;
  font-size: 1em;
  text-transform: uppercase;
}

.game-container-false {
  box-shadow: 0 0 20px red;
}

.game-container-true {
  box-shadow: 0 0 10px green;
}
