ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 7px;
  margin: 1px;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  width: 15px;
  font-weight: bold;
}

.guess-true {
  background: green;
}

.guess-false {
  background: #c30000;
}
